{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<meta http-equiv="refresh" content="10" />-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>Gestionnaire de débit</title>
</head>

<body>
    <header>
        <h1>Entreprise</h1>
        <hr>
    </header>
    <main>
        {% block main %}
        {% endblock %}

    </main>
</body>

</html>