{% extends 'home/base.html' %}

{% block main %}
        <h2>Capteur xx:</h2>
        <div class='grid-child good'>
                <h2>Débit: 19 l/min</h2>
                <h3>Alerte: 8l/min</h3>
                <h3>Mini: 6l/min</h3>
            </div>
        <div class='grid-sensor'>
            <div class='grid-child graph'>
                <h2>Capteur 2</h2>
                <h2>7 l/min</h2>
                <h3>Alerte: 8l/min</h3>
                <h3>Mini: 6l/min</h3>
            </div>
            <div class='grid-child graph'>
                <h2>Capteur 3</h2>
                <h2>3 l/min</h2>
                <h3>Alerte: 8l/min</h3>
                <h3>Mini: 6l/min</h3>
            </div>
        </div>
{% endblock %}